.statecard{
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  border: 0.5px solid lightgrey;
  border-radius: 1.2rem;
}

.statename{
  height: 50px;
  margin-bottom: 20px;
}

.statedata{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
table{
  width: 100%;

}

td{
  padding: 10px;
}
